.ct-chuong-tieude{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #49372F;
}

.ct-chuong-dieuhuong{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #49372F;
    margin-left: 30px;
}

.ct-chuong-dieuhuong p{
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.ct-chuong-dieuhuong p:hover{
    color: #C7A57E;
    font-weight: bold;
    transform: scale(0.95);
}

.ct-chuong-noidung{
    margin: 10px 50px;
    border-top: 1px solid #49372f4b;
    padding: 30px 0;
    color: #49372F;
}

.ct-chuong{
    display: flex;
    justify-content: center;
}

.chuong-btn{
    background-color: #D7B98E;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.chuong-btn:hover{
    background-color: #C7A57E;
    transform: scale(1.1);
}

.ct-chuong-binhluan{
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.thongbao-chuong {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    justify-content: center; 
    color: #49372F;
    height: 100%;
}

.thongbao-chuong-khoa{
    border: 2px solid #f44336;
    padding: 0 23px;
    border-radius: 50%;
    font-size: 20px;
}

.thongbao-chuong-text {
    margin-top: 10px;
    color: #49372F;
}

.thongbao-chuong-text p:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.thongbao-chuong-mua{
    background-color: #49372F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0bb29;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.thongbao-chuong-mua p{
    margin: 0;
}

.thongbao-chuong-mua:hover {
    transform: scale(1.05);
}
