.bv-baiviet-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    column-gap: 20px;
    grid-template-areas: 
        "bv-noidung bv-thongtin";
    margin-bottom: 20px;
}

.bv-noidung {
    grid-area: bv-noidung;
    display: grid;
    grid-template-rows: auto 40px auto;
    row-gap: 10px;
}

.bv-noidung .bv-thembaiviet {
    display: flex;
    align-items: flex-start;
    background-color: #FFF3E2;
    border: 2px solid #DBC8AD;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
}

.bv-noidung .bv-thembaiviet .bv-avata {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #DBC8AD;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.bv-noidung .bv-thembaiviet .bv-avata img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.bv-noidung .bv-thembaiviet .bv-camnghi {
    flex-grow: 1;
    font-size: 14px;
    color: #6D5F50;
    position: relative;
    max-width: calc(100% - 120px);
}

.bv-noidung .bv-thembaiviet .bv-camnghi .text-input {
    background-color: #FFF3E2;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 13px;
    box-sizing: border-box;
    min-height: 40px;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
}

.bv-noidung .bv-thembaiviet .img-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    position: relative;
}


.bv-noidung .bv-thembaiviet .img-container img {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.bv-noidung .bv-thembaiviet .img-container .close-icon {
    position: absolute;
    top: 2px;
    right: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    font-size: 14px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}




.bv-noidung .bv-thembaiviet .bv-themanh-icon {
    width: 35px;
    height: 35px;
    background-color: #EFE2D0;
    border-radius: 50%;
    color: #49372F;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBC8AD;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
}

.bv-noidung .bv-thembaiviet .bv-themanh-icon:hover {
    background-color: #EBD9BF;
}

.bv-noidung .bv-thembaiviet .bv-dang {
    font-weight: bold;
    background-color: #EFE2D0;
    padding: 8px 16px;
    border-radius: 25px;
    color: #49372F;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBC8AD;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bv-dang button {
    border: none;
    background-color: #EFE2D0;
}

.bv-dang button:hover {
    background-color: #EBD9BF;
}

.bv-noidung .bv-tieude {
    background-color: #FFF3E2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
    border: 2px solid #DBC8AD;
    color: #49372F;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.bv-thongtin {
    grid-area: bv-thongtin;
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    color: #49372F;
}

.bv-thongtin .bv-gioithieu {
    background-color: #FFF3E2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
    border: 2px solid #DBC8AD;
}

.bv-thongtin .bv-gioithieu .bv-tieude {
    font-size: 20px;
    margin: 13px;
    font-weight: bold;
}

.bv-thongtin .bv-gioithieu .bv-noidung {
    font-size: 15px;
    margin: 13px;
}

.bv-thongtin .bv-list-nguoitheodoi {
    background-color: #FFF3E2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
    border: 2px solid #DBC8AD;
}

.bv-thongtin .bv-list-nguoitheodoi .bv-tieude {
    font-size: 20px;
    margin: 13px;
    font-weight: bold;
}

.bv-thongtin .bv-list-nguoitheodoi .bv-list {
    margin: 13px;
}

@media (max-width: 750px) {
    .bv-baiviet-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "bv-thongtin"
            "bv-noidung";
    }

    .bv-noidung {
        margin-top: 10px;
    }

    .bv-noidung .bv-thembaiviet {
        border-radius: 10px;
    }

    .bv-noidung .bv-tieude {
        border-radius: 10px;
    }

    .bv-thongtin .bv-gioithieu {
        border-radius: 10px;
    }

    .bv-thongtin .bv-list-nguoitheodoi {
        border-radius: 10px;
    }
}

/* 
cho div theo doi */

/* CSS cho container của người theo dõi */
.bv-list-nguoitheodoi {
    margin-top: 20px;
}

.bv-list {
    margin-top: 10px;
}

/* CSS cho mỗi người theo dõi */
/* CSS cho mỗi phần tử người theo dõi */
.follower-item {
    display: flex;                   /* Dùng Flexbox để căn chỉnh ngang */
    align-items: center;             /* Căn giữa theo chiều dọc */
    margin-bottom: 10px;             /* Khoảng cách giữa các người theo dõi */
    background-color: #EBD9BF;
    padding: 7px;
    border-radius: 15px;
}

/* CSS cho ảnh đại diện */
.follower-avatar {
    width: 50px;                    
    height: 50px;                    
    border-radius: 50%;           
    object-fit: cover;             
    margin-right: 10px;              
}

/* CSS cho tên người theo dõi */
.follower-name {
    font-size: 18px;                
    font-weight: bold;             
    color: #333;      
    margin-left: 20px;             
}
