.Sidebar {
    grid-area: sidebar;
    background-color: #FFF3E2;
    border-right: 1px solid #D7B98E;               
}

.SidebarList {
    height: auto;
    padding: 80px 0 0 0;
    background-color: #FFF3E2;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.SidebarList .SidebarRow {
    width: 40px;
    height: 40px;
    margin-bottom: 31px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SidebarList .LogoutRow {
    margin-top: 120px;
}

.SidebarList .SidebarRow:hover {
    background-color: #F1E1CA;
    border-radius: 15px;
}

.SidebarList .SidebarRow svg {
    color: #49372F; 
    width: 25px;
    height: 25px; 
}

.SidebarList .SidebarRow:hover svg {
    color: #49372F; 
}

#Thongbao {
    height: 93vh;
    width: 300px;
    position: fixed;
    background-color: #FFF3E2; 
    padding: 10px;
    top: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid #D7B98E;
    margin-left: 70px;
    z-index: 1000;
}

.SidebarList .active {
    background-color: #F1E1CA;
    padding: 8px;
    border-radius: 15px;
}

.notification-item {
    padding: 10px ; 
   background-color: #d7b98e3c;
   margin-top: 2px;
   border-radius: 12px;
}

