.book-item-container {
    display: grid; 
    grid-template-columns: 1fr 4fr 4fr 2fr 2fr; 
    grid-auto-rows: auto; 
    grid-template-areas: 
        "image noidung noidung thongtin thongtin"
        "image noidung noidung thongtin thongtin";
    gap: 10px;
    background-color: #FFF3E2;
    border: 2px solid #DBC8AD;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.book-item-image {
    grid-area: image;
    width: 170px;
    height: 240px;
    border-radius: 15px;
}

.book-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.book-item-noidung {
    grid-area: noidung; 
    padding: 10px;
    border-radius: 5px;
}

.book-item-noidung-thongtin{
    display: flex;
    width: 300px;
    font-size: 10px;
}

.book-item-view{
    background-color: #EBD9BF;
    padding: 6px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.book-item-chuong{
    background-color: #EBD9BF;
    padding: 6px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.book-item-thongtin .trangthai{
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.book-item-danhgia{
    background-color: #49372F;
    color: #FFE100;
    padding: 1px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.book-item-noidung-thongtin span{
    margin-left: 5px;
}

.book-item-gioithieu{
    font-weight: 300;
    font-size: 10px;                 
    overflow: hidden;                
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}

.book-item-thongtin {
    grid-area: thongtin;
}

.book-item-luachon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #49372F;
    font-weight: bold;
    font-size: 15px;
}

.book-item-luachon-cs{
    background-color: #EBD9BF;
    border: 2px solid #DBC8AD;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    width: 47%;
    margin-right: 3%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.book-item-luachon-cs:hover {
    background-color: #49372f;
    color: white;
    transform: scale(0.95); 
}

.book-item-luachon-tc{
    background-color: #EBD9BF;
    border: 2px solid #DBC8AD;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    width: 50%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    border-radius: 0 10px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.book-item-luachon-tc:hover {
    background-color: #49372f;
    color: white;
    transform: scale(0.95); 
}


.book-item-list-chuong{
    margin-top: 10px;
    height: 150px;
    overflow-y: auto;
    background-color: #FFF3E2;
    border: 2px solid #DBC8AD;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    color: #49372F;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 0 10px 0;
    padding: 10px;
    border-radius: 0 0 10px 0;
}

.book-item-list-chuong::-webkit-scrollbar {
    width: 5px;
}

.book-item-list-chuong::-webkit-scrollbar-thumb {
    background-color: #EBD9BF; 
}

.book-item-list-chuong::-webkit-scrollbar-thumb:hover {
    background-color: #DBC8AD; 
}

@media (max-width: 550px) {
    .book-item-container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-auto-rows: auto; 
        grid-template-areas: 
            "image noidung noidung"
            "image noidung noidung"
            "thongtin thongtin thongtin"
    }

    .book-item-noidung-thongtin{
        width: 220px;
        font-size: 9px;
    }
}

@media (min-width: 550px) and (max-width: 920px) {
    .book-item-container {
        display: grid; 
        grid-template-columns: 1fr 2fr 2fr; 
        grid-auto-rows: auto; 
        grid-template-areas: 
            "image noidung noidung"
            "image noidung noidung"
            "thongtin thongtin thongtin"
    }
}

