.danhmuc-theloai {
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    border-radius: 15px;
    padding: 0 25px 25px 25px;
    color: #49372F;
}

.danhmuc-tieude {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.danhmuc-noidung {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.danhmuc-noidung button {
    border: none;
    background-color: #F1E1CA;
    height: 50px;
    border-radius: 15px;
    font-size: 13px;
    flex: 1;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.danhmuc-noidung button:hover {
    background-color: #E0C5A8; 
    transform: scale(1.05);
}

.theloai-button.chon {
    background-color: #E0C5A8; 
}


.danhmuc-chon{
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 15px;
    padding: 15px 0;
}

.danhmuc-chon-sapxep{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 30px;
}

.danhmuc-chon-sapxep-button{
    border: none;
    background-color: #F1E1CA;
    padding: 0 20px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.danhmuc-chon-loc{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-right: 30px;
}

.danhmuc-chon-loc select{
    border: none;
    background-color: #F1E1CA;
    padding: 0 20px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.danhmuc-chon-sapxep-button:hover {
    background-color: #E0C5A8; 
    transform: scale(1.05);
}

.danhmuc-chon-sapxep-button.chon{
    background-color: #E0C5A8; 
}

.danhmuc-tong{
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.danhmuc-tong p{
    margin-left: 30px;
    font-size: 13px;
}
.listsach {
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6,170px);
    column-gap: 18px;
    row-gap: 18px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 15px;
}

.danhmuc-phantrang{
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    border-radius: 15px;
}

.danhmuc-phantrang-chon{
    background-color: #F1E1CA;
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.danhmuc-phantrang-chon:hover{
    background-color: #E0C5A8; 
    transform: scale(1.05);
}

.danhmuc-phantrang-so{
    background-color: #F1E1CA;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.danhmuc-phantrang-so:hover{
    background-color: #E0C5A8; 
    transform: scale(1.05);
}

.danhmuc-phantrang-so.chon{
    background-color: #E0C5A8; 
    transform: scale(1.05);
}


@media (max-width: 550px) {
    .danhmuc-noidung {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .listsach {
        grid-template-columns: repeat(2,170px);
        column-gap: 18px;
        row-gap: 18px;
    }
}

@media (min-width: 550px) and (max-width: 720px) {
    .danhmuc-noidung {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .listsach {
        grid-template-columns: repeat(3,170px);
        column-gap: 18px;
        row-gap: 18px;
    }
}
@media (min-width: 720px)  and (max-width: 1024px) {
    .danhmuc-noidung {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .listsach {
        grid-template-columns: repeat(4,170px);
        column-gap: 18px;
        row-gap: 18px;
    }

}
