@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF3E2;
}

.block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ql-editor.text{
    width: 1000px;
    max-width: 1000px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    margin: 10px auto; 
    border-radius: 8px;
    border: 2px solid #B19060;
}

.block-2{
    width: 1020px;
    margin-top: 20px;
    max-width: 1020px;
    height: fit-content;
    margin-bottom: 20px;
}

.create-story{
    background-color: #482F0B;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.chapter-title-input {
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid hsl(36, 71%, 34%);
    text-align: center;
    background-color: #FFF3E2;
    cursor: pointer;
}

.chapter-title-input:focus {
    outline: none; 
    box-shadow: none;
}
