body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF3E2;
   
}

.all{
    padding-left: 100px;
}

.block{
    width: 95%;
}


.block-1{
    margin-top: 70px;
    border: 2px solid #B19060;
    border-radius: 7px;
    height: 450px;
    overflow-y: auto;
    width: 80%;

    scrollbar-width: thin; 
    scrollbar-color: #482F0B #FFF3E2; 
}

.block-2{
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
}

.create-story{
    background-color: #482F0B;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 10%;
}

.chapter-title-input {
    width: 98%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid hsl(36, 71%, 34%);
    text-align: center;
    background-color: #FFF3E2;
  }
  
  .chapter-title-input:focus {
    outline: none; 
    box-shadow: none;
}