body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF3E2;
}

.all{
    padding-left: 30px;
}

.block{
    width: 50%;
}


.block-1{
    margin-top: 15px;
    padding: 20px;
    border: 2px solid #B19060;
    border-radius: 7px;
    height: fit-content;
    overflow-y: auto;
    width: 50%;
    scrollbar-width: thin; 
    scrollbar-color: #482F0B #FFF3E2; 
}

.block-2{
    margin-top: 20px;
    width: 50%;
    height: fit-content;
    margin-bottom: 30px;
}

.create-story{
    background-color: #482F0B;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.chapter-title-input {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid hsl(36, 71%, 34%);
    text-align: center;
    background-color: #FFF3E2;
    cursor: pointer;
}

.chapter-title-input:focus {
    outline: none; 
    box-shadow: none;
}