.header-container{
    grid-area: header;
    background-color: #FFF3E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D7B98E;
    padding: 15px;  
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    background: #EBD9BF;
    border-radius: 10px;
}

.search-container input{
    width: 100%;
    height: 30px;
    padding: 8px 20px;
    border: none;
    background: #EBD9BF;
    outline: none;
    border-radius: 15px;
}

.search-icon {
    color: #49372F;
    margin-left: 15px;
    font-size: 20px;
}

.profile-container{
    background-color: #F1E1CA;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-left: 10px;
}
