.admin-theloai{
    width: 100%;
    color: #49372F;
}

.admin-theloai-tieude{
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding: 20px;
}

.admin-theloai-tieude{
    font-weight: bold;
}

#button_themtheloai{
    background-color: #EBD9BF;
    border: 2px solid #DBC8AD;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #49372F;
}

.admin-theloai-noidung{
    height: auto;
    display: flex;
    justify-content: center;
}

.admin-theloai-noidung table {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.table-header {
    background-color: #EBD9BF;
    border: 2px solid #DBC8AD;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    color: #4b5563;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.table-header th {
    padding: 0.75rem 1.5rem;
    text-align: center;
}

.table-body {
    color: #374151;
    font-size: 0.875rem;
    font-weight: 300;
}

.table-row {
    border-bottom: 1px solid #e5e7eb;
}

.table-row:hover {
    background-color: #f4e6d3;
}

.table-row td{
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #EBD9BF;
    padding: 5px;
}

#button_suatheloai{
    background-color: #C6E7FF;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

#button_suatheloai:hover{
    background-color: #003161;
    color: white;
}


#button_xoatheloai{
    background-color: #FFDDAE;
    padding: 5px;
    border-radius: 5px;
}

#button_xoatheloai:hover{
    background-color: #FF4545;
    color: white;
}

#ThemTheloai, #SuaTheloai{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: #f4e6d3;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #49372F;
}

.btn-cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.btn-cancel:hover {
    color: #444;
}

.ThemTheloai-content, .SuaTheloai-content{
    display: flex;
    justify-content: center;
}

.ThemTheloai-input, .SuaTheloai-input{
    padding: 10px 20px;
}