body {
  margin: 0;
  background-color: #FFF3E2;
  font-family: Arial, sans-serif;
}


.nav-admin {
  width: 100%;
  height: 60px;
  background-color: #EBD9BF; 
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid #AF9E65;
}

.icon{
 margin-right: 5px;
 font-size: 18px ;
}

.nav-admin ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-admin ul li {
  margin: 0 20px;
}

.nav-container {
  display: flex;
  height: calc(100vh - 60px);
}



.sidebar-admin {
  width: 65px;
  background-color: #EBD9BF;
  padding: 20px 0;
  height: 100vh;
}

.sidebar-admin ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-admin ul li {
  margin: 30px 0;
}
