.Sidebar {
    height: 100vh;
    width: 60px;
    background-color: #FFF3E2;
    border-right: 1px solid #D7B98E;
    position: fixed;              
    top: 0;                      
    left: 0;                     
    z-index: 1000;              
}

.SidebarList {
    height: auto;
    padding: 80px 0 0 0;
    width: 50px;
    margin: 0 auto auto auto;
    background-color: #FFF3E2;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.SidebarList .SidebarRow {
    width: 40px;
    height: 40px;
    margin-bottom: 31px;
    list-style-type: none;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SidebarList .LogoutRow {
    margin-top: 120px;
}

.SidebarList .SidebarRow:hover {
    background-color: #F1E1CA;
    border-radius: 15px;
}

.SidebarList .SidebarRow svg {
    color: #49372F; 
    width: 25px;
    height: 25px; 
}

.SidebarList .SidebarRow:hover svg {
    color: #49372F; 
}

#Thongbao {
    height: 93vh;
    width: 300px;
    position: fixed;
    background-color: #FFF3E2; 
    padding: 10px;
    top: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid #D7B98E;
    margin-left: 70px;
    z-index: 1000;
}

.theloai{
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    margin: 15px;  
    border-radius: 15px;
    padding: 0 25px 25px 25px;
    color: #49372F;
}

.theloai-tieude{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.theloai-tieude a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #49372F;
    font-size: 15px;
}

.theloai-noidung {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.theloai-noidung button{
    border: none;
    background-color: #F1E1CA;
    height: 50px;
    border-radius: 15px;
    font-size: 13px;
    flex: 1;
    cursor: pointer;
}

.theloai-noidung button:hover{
    background-color: #D7B98E;
    font-weight: bold;
    font-size: 20px;
}

.trending{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-listcard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button{
    background-color: #F1E1CA;
    color: #49372F;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.trending-card {
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    padding: 15px;
    color: #49372F;
    display: flex;
    width: 510px;
    height: 260px;
    cursor: pointer;
}

.trending-card:hover {
    background-color: #ebd9bf4b;
}

.trending-card-noidung{
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
.trending-card-noidung-Trending{
    background-color: #FFD08A;
    color: #A67763;
    height: 35px;
    width: 150px;
    border-radius: 15px 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.trending-card-noidung-tieude {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 0 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trending-card-noidung-tacgia{
    margin: 5px 0 10px 0;
    font-size: 12px;
}

.trending-card-noidung-thongtin{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 10px;
}

.trending-card-noidung-thongtin .view{
    background-color: #EBD9BF;
    padding: 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.trending-card-noidung-thongtin .chuong{
    background-color: #EBD9BF;
    padding: 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.trending-card-noidung-thongtin .trangthai{
    background-color: rgba(0, 255, 68, 0.2);
    color: #066C21;
    padding: 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.trending-card-noidung-thongtin .danhgia{
    background-color: #49372F;
    color: #FFE100;
    padding: 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.trending-card-noidung-thongtin span{
    margin-left: 5px;
}
.trending-card-noidung-mota .tieude{
    font-weight: 500;
    font-size: 15px;
}

.trending-card-noidung-mota .mota{
    font-weight: 300;
    font-size: 10px;                 
    overflow: hidden;                
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;     
}

.trending-card-noidung-docngay {
    display: flex;
    align-items: center;
}

.trending-card-noidung-docngay .docngay{
    background-color: #D7B98E;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: #49372F;
    font-weight: bold;
    font-size: 14px;
}

.trending-card-noidung-docngay .docngay:hover{
    background-color: #A67763;
    color: #FFF3E2;
}

.trending-card-noidung-docngay .yeuthich{
    border: 2px solid #DBC8AD;
    border-radius: 30px;
    color: #D7B98E;
    font-size: 21px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.trending-card-noidung-docngay .yeuthich:hover{
    border: 2px solid red;
    color: red;
}
.trending-card-hinhanh{
    margin: 20px;
    border-radius: 15px;
    width: 100%;
}

.trending-card-hinhanh img{
    border-radius: 15px;
}

.hot{
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    margin: 20px 15px 20px 15px;
    border-radius: 15px;
    padding: 25px;
    color: #49372F;
    width: auto;
}

.hot-tieude{
    display: flex;
    justify-content: space-between;
}

.hot-listcard{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.hot-card{
    width: 210px;
    padding: 10px 0;
}

.hot-card:hover{
    background-color: #F1E1CA;
    border-radius: 15px;
}

.hot-card-container{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.hot-card-thongtin .trangthai{
    background-color: rgba(0, 255, 68, 0.2);
    color: #066C21;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.hot-card-thongtin .danhgia{
    background-color: #49372F;
    color: #FFE100;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.hot-card-thongtin{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.hot-card-container img{
    margin: auto;
    border-radius: 15px;
}

.hot-card-tieude{
    font-size: 14px;
    margin: 5px 5px;
    text-align: center;
    font-weight: 600;
}
.hot-card-luotxem{
    display: flex;
    font-size: 12px;
    margin: 3px 5px;
    justify-content: center;
}

.quangcao{
    background-color: dimgray;
    height: 300px;
    margin: 30px 0;
}

.theloai-list{
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    margin: 15px;  
    border-radius: 15px;
    padding: 0 25px 25px 25px;
    color: #49372F;
    height: 100px;
}

.tacgia{
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    margin: 15px;  
    border-radius: 15px;
    padding: 0 25px 25px 25px;
    color: #49372F;
    height: 100px;
}

.hoanthanh{
    background-color: #FFF3E2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #DBC8AD;
    margin: 15px;  
    border-radius: 15px;
    padding: 0 25px 25px 25px;
    color: #49372F;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .trending-listcard{
        flex-wrap: wrap;
    }

    .button{
        width: 15px;
        height: 15px;
        font-size: 15px;
    }
    
    .trending-card {
        width: 310px;
        height: auto;
        margin: 0;
    }
    
    .trending-card-noidung{
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
    }
    .trending-card-noidung-Trending{
        height: 19px;
        width: 100px;
        font-size: 11px;
        font-weight: bold;
    }
    
    .trending-card-noidung-tieude {
        font-size: 13px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .trending-card-noidung-tacgia{
        margin: 5px 0 10px 0;
        font-size: 10px;
    }
    
    .trending-card-noidung-thongtin{
        display: flex;
        width: 190px;
        font-size: 6.5px;
    }
    
    .trending-card-noidung-thongtin .view{
        padding: 3px;
    }
    
    .trending-card-noidung-thongtin .chuong{
        padding: 3px;
    }
    
    .trending-card-noidung-thongtin .trangthai{
        padding: 3px;
    }
    
    .trending-card-noidung-thongtin .danhgia{
        padding: 3px;
    }
    
    .trending-card-noidung-thongtin span{
        margin-left: 5px;
    }
    .trending-card-noidung-mota .tieude{
        font-weight: 500;
        font-size: 10px;
    }
    
    .trending-card-noidung-mota .mota{
        font-weight: 300;
        font-size: 8px;                 
    }
    
    .trending-card-noidung-docngay {
        display: flex;
        align-items: center;
    }
    
    .trending-card-noidung-docngay .docngay{
        font-size: 10px;
    }
    
    .trending-card-noidung-docngay .yeuthich{
        width: 20px;
        height: 20px;
    }
    
    .trending-card-hinhanh img{
        border-radius: 15px;
        width:  120%;
    }
    
    .hot{
        margin: 20px 15px 20px 15px;
        border-radius: 15px;
        padding: 25px;
        width: auto;
    }

    .hot-listcard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}


